
  
.utility-container{

    width: 100%;
}

.row > * {
    padding-right: 3px !important;
    padding-left: 3px !important;
}

.center {

    margin: 0 auto;
}

.card {
    display: block;
    padding: 32px;
    border: 1px solid black;
    border-radius: 8px;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 100%;
}

.saved-garden-grid {
    align-items: stretch;
    justify-content: center;
    min-width: 100%;
    padding-bottom: 0%;
    height: 100%;
}

.column-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.saved-garden-column {

    width: 25%;
    height: 100%;
    align-items: stretch;
    text-align: center;
    justify-content: space-around;
    margin: 0 auto;
}

.card-container {
    
    margin-bottom: 10px;
    margin-top: 10px;

    box-shadow: 0 0 5px #964B00;
    background-color: #C46200;
    color: white;
    
    
}



.card-header {
    display: flex;
    justify-content: space-between;
}

mat-progress-bar {
    min-height: 4rem !important;
    min-width: 100%;
    transform: rotate(0deg) !important;

}

.progress-wrapper {
    /*margin: 0 auto;*/
    min-height: 100%;
}

#print-section {
    padding: 0 8px;
}

/* progress bar custom colors */
::ng-deep .mat-progress-bar-fill::after {
    background-color: #32a852;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
    width: 100% !important;
}


.garden-info {
    margin: 10px 0;
}

.clear-options {
    margin: 10px 0;
}

.margin-left{
    margin-left: 10px;
}

.bold {
    font-weight: bold;
}

mat-card {
    height: 150px;
    max-width: 150px;
    padding: 7px;
}

.rem-btn {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

/*tablet breakpoint*/
@media (max-width: 1500px) { 
    .hide-when-md {
        display: none;
    }
    body {
        font-size: small;
    }
}

/*mobile breakpoint*/
@media (max-width: 767px) {
    .hide-when-sm {
        display: none;
    }
    
    .smaller-text-when-sm {
        font-size: xx-small;
        font-weight: bolder;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .min-height-boxes {
        min-height: 50px;
      }

      .card-container {
        margin-left: 3px;
        margin-right: 3px;
      }
}